<!DOCTYPE html>
<html>
<head>
	<title>Dashboard - Volunteers</title>
	<% include user-head %>
</head>
<body>
	<% if(commentsAdded){ %>
		<script type="text/javascript">
			swal("You have successfully updated comments.", "", "success");
		</script>
	<% }else if(commentsReplaced){ %>
		<script type="text/javascript">
			swal("You have successfully replaced comments.", "", "success");
		</script>
	<% }else if(levelChanged){ %>
		<script type="text/javascript">
			swal("You have successfully changed the privileges level.", "", "success");
		</script>
	<% }else if(approved){ %>
		<script type="text/javascript">
			swal("You have successfully approved a volunteer.", "", "success");
		</script>
	<% }else if(denied){ %>
		<script type="text/javascript">
			swal("You have successfully denied a volunteer.", "", "success");
		</script>
	<% } %>
	<div class="container">
		<div id="logout" class="col-sm-3">
			<a href="/volunteers/logout"><button class="btn btn-info">Logout</button></a>
		</div>
		<div id="home-btn" class="col-sm-3">
			<a href="/volunteers/home"><button class="btn btn-info">Home</button></a>
		</div>
		<h4 class="text-center">Volunteers</h4>
		<% volunteers.map((volunteer)=>{ %>
			<div class="col-sm-12">
				<br /><br />
				<h5 class="col-sm-offset-2"><%=volunteer.name%></h5>
				<div class="col-sm-3 col-sm-offset-1">
					<% if(volunteer.vol_img != undefined){ %>
					<img class="vol-img" src="/images/<%=volunteer.vol_img%>" />
					<% } %>
				</div>
				<div class="col-sm-7">
					<h5>Approved: <%=volunteer.approved%>
						<%if(volunteer.approved != 'yes'){%>
							<span class="col-sm-offset-1"><a href="/volunteers/volunteerReview/approve/<%=volunteer.vol_id%>"><button class="btn green">Approve</button></a></span>
						<% }else{ %>
							<span class="col-sm-offset-1"><a href="/volunteers/volunteerReview/deny/<%=volunteer.vol_id%>"><button class="btn red">Deny</button></a></span>
						<% } %>
					</h5>
					<h5><br />Privileges: <%=volunteer.level%>
						<span class="col-sm-offset-1">Change to: 
							<% if(volunteer.privileges_code != 3){ %>
								<a href="/volunteers/volunteerReview/changeToAdmin/<%=volunteer.vol_id%>"><button class="btn green">Admin</button></a>
							<% } %>
							<% if(volunteer.privileges_code != 2){ %>
								<a href="/volunteers/volunteerReview/changeToAuthor/<%=volunteer.vol_id%>"><button class="btn blue">Author</button></a>
							<% } %>
							<% if(volunteer.privileges_code != 1){%>
								<a href="/volunteers/volunteerReview/changeToBasic/<%=volunteer.vol_id%>"><button class="btn orange">Basic</button></a>
							<% } %>
							</span>
					</h5>
					<h5><br />Comments: <%-volunteer.comments%></h5>
					<form class="col-sm-6" action="/volunteers/addComment/<%=volunteer.vol_id%>" method="post">
				  		<textarea name="comments" placeholder="Write here to add to current comments."></textarea>
				  		<button class="btn blue" type="submit">Add comments</button>
				  	</form>
				  	<form class="col-sm-6" action="/volunteers/replaceComment/<%=volunteer.vol_id%>" method="post">
				  		<textarea name="comments" placeholder="Write here to replace current comments."></textarea>
				  		<button class="btn orange" type="submit">Replace comments</button>
				  	</form>
				</div>
			</div>
		<% }); %>
	</div>
</body>
</html>